@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans:regular");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(
    0.875rem,
    0.4626rem + 1.0309vw + var(--user-font-scale),
    1.125rem
  );
}

body {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  background: #f9fafb;
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}

/* .radial {
  background: radial-gradient(
      40.55% 72.74% at 88.05% 83.44%,
      rgba(0, 163, 255, 0.7) 0%,
      rgba(0, 163, 255, 0) 100%
    ),
    radial-gradient(
      28.18% 52.33% at 10.15% 17.44%,
      rgba(255, 0, 0, 0.7) 0%,
      rgba(255, 0, 0, 0) 100%
    );
} */
