---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Main.astro';
import BaseHead from '../components/BaseHead.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Footer from '../components/Footer.tsx';
// Example: src/pages/$pokemon.astro
// Define a `createCollection` function.
// In this example, we'll create a new page for every single pokemon.
export async function createCollection() {
  // Do your data fetching here.

  let allPosts =await Astro.fetchContent('./content/*.md');
  allPosts = allPosts.sort((a, b) => new Date(b.publishDate) - new Date(a.publishDate));
  return {
    // `route` defines the URL structure for your collection.
    paginate:true,
    // You can use any URL path pattern here, as long as it
    // matches the filename prefix (`$pokemon.astro` -> `/pokemon/*`).
    route: `/blogs/:page?`,
    // `paths` tells Astro which pages to generate in your collection.
    // Provide an array of `params` objects that match the `route` pattern.
    paths() {
      return allPosts.map((pokemon, i) => ({params: {name: pokemon.title}}));
    },
    // For each individual page, return the data needed on each page.
    // If you needed to fetch more data for each page, you can do that here as well.
    // Luckily, we loaded all of the data that we need at the top of the function.
    async props({ paginate }) {
      return {posts: paginate(allPosts,{pageSize:3})};
    },
  };
}
// The rest of your component script now runs on each individual page.
// "item" is one of the props returned in the `props()` function.
const {posts} = Astro.props;

let title = "Blog";
let description = "our blog";
let permalink = 'https://example.com/';
---
<!-- <html lang="en">
  <head>
    <BaseHead  title={title} description={description} permalink={permalink} />
    <title>pagination ex</title>
    <link rel="canonical" href={posts.url.current} />
    <link rel="prev" href={posts.url.prev} />
    <link rel="next" href={posts.url.next} />
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    </head>
  <body> -->
  <Layout title={title} description={description} permalink={permalink} canonicalURL={posts.url.current} next={posts.url.next} prev={posts.url.prev}>
    <main class="container mx-auto">
          <h1>Results {posts.start + 1}–{posts.end + 1} of {posts.total}</h1>

        <section class="flex flex-col px-4 mt-8 min-h-4/5 ">
          {posts.data.map(p => <BlogPostPreview post={p} />)}
        </section>
          <!-- {JSON.stringify(posts)} -->
          <nav class="flex justify-between mx-2 nav">
        <a class="prev" href={posts.url.prev || '#'}>Prev</a>
        <a class="next" href={posts.url.next || '#'}>Next</a>
      </nav>
    </main>
  </Layout>
  <!-- </body>
</html> -->