---
import { Markdown } from 'astro/components';
import Layout from '../layouts/Main.astro'
import BaseHead from '../components/BaseHead.astro';
import BlogPost from '../components/BlogPost.astro';
import EachBlogPostPreview from '../components/EachBlogPostPreview.astro';

let title = 'All blogs';
let description = 'An example blog on Astro';
let permalink = 'https://example.com/';

export async function createCollection() {

  const blogPosts = Astro.fetchContent("./content/*md");
  const sortedPosts = blogPosts.sort((a,b) => {
    if (a.title < b.title) {
      return -1
    }
    if (a.title > b.title) {
      return 1
    }
    return 0
  })

  return {
    route: `/blog/:slug`,
    paths() {
      return sortedPosts.map(p => ({
        params: {
          slug: p.slug
        }
      }))
    },
    async props({ params }) {
      const currentIndex = sortedPosts.findIndex(p => p.slug === params.slug);
      const currentPost = sortedPosts[currentIndex];
      const nextIndex = currentIndex === sortedPosts.length - 1 ? null : currentIndex + 1;
      const nextPost = nextIndex ? sortedPosts[nextIndex] : null
      const prevIndex = currentIndex === 0 ? null : currentIndex - 1;
      const prevPost = typeof prevIndex !== null ? sortedPosts[prevIndex] : null

      console.log(currentIndex, sortedPosts[prevIndex])


      return {
        post: currentPost,
        nextPost,
        prevPost
      }
    }
  }
}

const {post, nextPost, prevPost} = Astro.props;

---

<style lang="scss">

.cluster {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  width: 100%;

  gap: 1rem;
}

</style>

<Layout title={post.title} description={post.description} permalink={post.permalink}>
  <div  class="container grid px-4 mx-auto text-gray-100 md:grid-cols-4">
  <div class="md:col-span-3">
    <BlogPost title={post.title} author={post.author} heroImage={post.heroImage}  authorImage={post.authorImage} publishDate={post.publishDate} alt={post.alt}>
          {post.astro.html}
    </BlogPost>
  </div>


  <!-- post side navigation -->
  <div class="flex flex-col">
          {prevPost && <EachBlogPostPreview post={prevPost}/>}
          {nextPost && <EachBlogPostPreview post={nextPost}/>}
  </div>
    </div>

</Layout>