---
// Component Imports
import Tour from '../components/Tour.astro';
import Banner from '../components/Banner.astro';
import Nav from '../components/Nav.astro';
import Ad from '../components/Ad.astro'
import Experiment from '../components/Experiment.astro'
import Course from '../components/Course.astro'
import Footer from '../components/Footer.tsx'
import Journal from '../components/Journal.astro'
import Testimonial from '../components/Testimonial.tsx'
import Product from '../components/Product.tsx'
import Network from '../components/Network.tsx'
import Layout from '../layouts/Main.astro'

// You can import components from any supported Framework here!


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';
let description = 'An example blog on Astro';
let permalink = 'https://example.com/';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---


    <Layout  title={title} description={description} permalink={permalink} >
        <Banner/>
        <div class="container mx-auto">
            <Tour /> 
            <Experiment/>
            <Course/>
            <Journal/>
            <!-- <Network/> -->
            <Testimonial client:visible/>
            <Ad/>
            <!-- <Product/> -->
        </div>

    </Layout>
