---
import { Markdown } from 'astro/components';
import Nav from './Nav.astro'

const title= "Future"
const subTitle = "Welcome sfsdfto the "
---

<div  style="background-image:url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fs1.picswalls.com%2Fwallpapers%2F2017%2F12%2F10%2F4k-screensaver_110629116_312.jpg&f=1&nofb=1');clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);"
 class="relative flex flex-col items-center justify-center min-w-full min-h-screen -mb-20 overflow-hidden bg-red-400 bg-cover font-primary"
 >

 
	<div class="z-20 flex flex-col gap-2 font-bubble">
	   <h2 class="uppercase">
	   {subTitle}
	   </h2>
	   <div class="">
	   	<h1 class="font-bold uppercase shadow-lg text-7xl"><a>{title}</a></h1>
	   </div>
        </div>
	   <!-- <div class="text-lg text-center max-w-1/2 ">
           <Markdown >	
	   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, iste architecto quasi dolore provident facilis culpa corrupti commodi repellat eum est nihil enim suscipit rem distinctio aperiam earum eveniet odio?
           </Markdown>
	   </div> -->

	<!-- bg -->
	<div class="absolute inset-0 z-10 radial"> 
	     <div class="absolute inset-0 z-10 bg-gradient-to-br from-black/90 to-black/30"></div>
	     <!-- <div class="absolute inset-0 backdrop-filter backdrop-blur-md "/> -->
	     <!-- <div class="absolute inset-0 overflow-hidden bg-gradient-to-b from-transparent via-bg/20 to-bg"></div> -->
	     <!-- <img src="https://wallpaper-mania.com/wp-content/uploads/2018/09/High_resolution_wallpaper_background_ID_77701873466.jpg" class="w-full h-full min-h-screen md:bg-cover -z-10 backdrop-filter backdrop-blur-md" alt=""> -->
	</div> 

</div>


<style>
</style>