---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="flex flex-col gap-4 py-5 my-4 border-b-2 border-white md:flex-row">
<img class="md:max-w-[20rem]  border-2 border-pink-500 h-auto md:object-contain" src={post.heroImage} alt={post.title}/>
<div class="flex-col gap-4 content">
  <header class="flex flex-col items-start gap-2 mb-2" >
    <h3 class="text-sm font-semibold">{post.publishDate}</h3>
    <!-- <p class={`bg-${post.color}-500/50 text-${post.color}-500 rounded-primary px-1 font-semibold text-pink-600 bg-red-600/20 `}>{post.catagory}</p> -->
    <a href={post.url}><h1 class="text-3xl font-bold title after:content-[''] after:absolute relative after:h-2  after:w-full after:bottom-0 after:bg-pink-500/70 after:left-0 after:-z-5">{post.title}</h1></a>
  </header>
  <main class="flex flex-col items-start justify-center gap-4">
    <p class="text-sm font-semibold truncate whitespace-normal">{post.description}</p>
    <a href={"/blog/"+post.slug} class="px-2 py-1 mt-2 font-semibold bg-pink-600">Read moree</a>
  </main>
</div>
</article>
