---
import Enter from './icons/Enter.tsx'

const { icon } = Astro.props;
---
<div class="z-20 flex items-center justify-center ">
  <div class="container flex justify-center">
    <div class="max-w-[17rem]  ">
      <div class="relative px-6 py-8 overflow-hidden bg-white border-2 border-pink-500 rounded-sm shadow-lg dark:bg-gray-800/50 hover:shadow-xl">
      <!-- icon-container -->
      <div class="min-h-[4rem] flex text-pink-600 justify-center items-center" >
      
      <div class="relative flex items-center justify-center w-20 h-20 text-4xl transition duration-500 bg-gray-200 rounded-full dark:bg-gray-700 hover:after:bg-yellow-600 icon">
      {icon}
      <div class="absolute transition duration-500 inset-1 hexagon o hover:animate-spin "></div>
      </div>
      </div>

        <div class="flex flex-col items-center p-2 text-center rounded-lg dark:text-gray-100">
          <h1 class="mb-3 text-xl font-bold text-gray-700 dark:text-gray-100 hover:text-gray-900 hover:cursor-pointer ">I'm supper dog for you.</h1>
          <p class="text-sm tracking-wide text-gray-700 dark:text-gray-200">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, labore. Ea debitis beatae sequi deleniti.</p>
          <a class="flex items-center gap-1 mt-4 text-lg font-semibold text-pink-500 cursor-pointer ">Enter<Enter class="transition-all duration-300 transform hover:translate-x-[2px]"/></a>
        </div>
	<!-- buy -->
      </div>
    </div>
  </div>
</div>

<style>
 .o::before{
  @apply  absolute content-[""] h-4 w-4 bg-pink-600 top-0 right-0;
   filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);


}
.o::after{
  @apply  absolute content-[""] h-4 w-4 bg-pink-600 bottom-0 left-0 transition duration-500;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

</style>