---
import Check from './icons/Check.tsx'

const title = "Journal"
const desc = "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum cum temporibus doloremque inventore adipisci. Ut consectetur quibusdam reprehenderit nesciunt temporibus est repellat sint animi similique vel quis, voluptas adipisci dolorem."

const points = ["Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reiciendis.",
"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reiciendis.",
"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, reiciendis."
]

---
<section class="grid grid-cols-1 px-4 my-12 lg:my-2 lg:grid-cols-2 section xl:min-h-4/5">
	<div class="flex flex-col justify-center order-last lg:order-first sm:py-12">
	<div class="relative video">
	<div  class="w-full sm:rounded-3xl min-h-[25rem] border-2 border-blue-500" src="https://www.youtube.com/embed/1yNfnRbU05Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></div>
	</div>
	</div>
	<div class="flex flex-col justify-start gap-4 p-4 text-sm md:pt-12">
	<h1 class="text-6xl font-bold after:content-[''] after:absolute after:w-[80%] after:h-4 after:-z-5 after:bg-blue-500 after:bottom-0 after:left-0 relative">{title}</h1>
	<p>{desc}</p>
	<ul class="flex flex-col gap-4 font-semibold">
		{points.map(p=>(
			<li class="flex items-center gap-4 "><span class="text-2xl "><Check/></span>{p}</li>
		))}
	</ul>

	<button class="px-8 py-2 my-auto font-semibold rounded-sm bg-gradient-to-br from-blue-700 to-blue-500">Download</button>
	</div>
</section>










