---
import BaseHead from '../components/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.tsx';

interface Props {
  title: string;
  description: string;
  permalink?:string;
  image?: string;
  next?: string;
  prev?: string;
  canonicalURL?: string;
}

const { title, description, image, next, prev, canonicalURL,permalink } = Astro.props as Props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <style>
    
      .transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

    </style>
  </head>

  <body  class="">
    <Nav/>
    <main id="swup"  class="transition-fade">
      <slot/>
    </main>
    <Footer/>
    <script type="module" src="/app.js"></script>
  </body>
</html>

